/* variables de couleurs utilisé pour toutes mes pages*/
:root {
  --noir: #000000;
  --gris-foncer: #555555;
  --white: #ffffff;
  --gris-pale: #A2A2A2;
}

/* Section d'importation de police: Big shoulder et Oxygen*/
@font-face {
  font-family: "Big_Shoulders";
  src: url("./assets/polices/Big_Shoulders.ttf") format("truetype");
}

@font-face {
  font-family: "Oxygen";
  src: url("./assets/polices/Oxygen.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

/* style de base du body*/
body {

  background-color: var(--noir);
  font-family: "Oxygen";
  color: var(--white);
  overflow-x: hidden;
}

h1 {
  font-family: "Big_Shoulders";
  transform: translate(15%);
  font-size: 2.7rem;
}

h2 {
  font-family: "Big_Shoulders";
  font-size: 2rem;
  transform: translate(3%, 57%);
}

p {
  margin: 15px 16px;
  line-height: 1.4;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  transform: translate(15%);
  /* Pour le positionnement*/
  margin: 10px 0;
  width: 100%;
}

/* styles pour mes buttons*/
.buttons a {
  text-decoration: none;
  color: var(--white);
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  /*transition*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 300px;
  /* Définit la largeur maximum du boutton*/
  width: 90%;
}

/*styles pour l'en-tête*/
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 20px;
  background-color: #555555;

}

/* Section style pour le menu hamburger*/
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.burger-menu span {
  display: block;
  height: 6px;
  width: 100%;
  background-color: var(--white);
  border-radius: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}




/* Medias Queries Section mobile*/
@media (max-width: 768px) {

  /* Style pour mes nav links*/
  .nav-links {
    display: none;
    /* Pour que c'a soit pas visible pour uq'on voit que le menu hamburger en version mobile*/
    flex-direction: column;
    /* Pour le positionnement*/
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: var(--gris-foncer);
    /* Utilisation d'une de mes variables de couleur*/
    width: 220px;
    border: 1px solid var(--white);
    /* Utilisation d'une de mes variables de couleur*/
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 0;
    gap: 10px;
    z-index: 1000;
  }

  /* styles pour buttons*/
  .buttons {
    display: flex;
    flex-direction: column;
    /* Pour le positionnement soit en colonne*/
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 9999;
    /* Pour que les bouttons soient en avant du text. Sinon, les bouttons seraient en arrière */
  }

  /* style hover */
  .buttons a:hover {
    background-color: white;
    color: #333;
  }

  /* style nav links*/
  .nav-links a {
    text-decoration: none;
    color: var(--white);
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* style pour lorsqu'on hover sur les nav links*/
  .nav-links a:hover {
    background-color: white;
    color: #333;
  }

  /* Pour qu'on ne voit pas les cercles lorsqu'on est en version mobile*/
  .Lcircle,
  .Rcircle {
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .burger-menu {
    display: flex;
  }

  /* Pour qu'on ne voit pas la vidéo lorsqu'on est en version mobile*/
  video {
    display: none;
  }

  /* style header mobile*/
  .header {
    color: var(--gris-foncer);
    font-family: "Oxygen", Arial, sans-serif;

  }

  /* Section footer*/
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gris-foncer);
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }

  /* style du container dans le footer*/
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-address,
  .footer-contact {
    text-align: center;
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .footer-socials a {
    display: inline-flex;
  }

  /* definit la taille des icons dans le footer*/
  .footer-socials img {
    width: 24px;
    height: 24px;
  }

  /* L'animation de mon logo. */
  @keyframes scale-steps {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  /* Style de mon logo ainsi que le "linkage de mon animation"*/
  .logo {
    animation: scale-steps 3s infinite ease-in-out;
    display: block;
    position: relative;
    transform-origin: center;
    width: 150px;
    height: auto;
  }
}


/* Styles Medias queries section version desktop*/
@media (min-width: 769px) {

  /* Voici mon animation pour logo mais version desktop*/
  @keyframes scale-steps {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  /* Style de mon logo ainsi que le "linkage de mon animation*/
  .logo {
    animation: scale-steps 3s infinite ease-in-out;
    display: block;
    position: relative;
    transform-origin: center;
    width: 150px;
    height: auto;
  }


  /* Pour que lorsqu'on arrive sur format desktop, le menu burger disparait*/
  .burger-menu {
    display: none;
  }

  /* Style que j'ai donner a mon container*/
  .container {
    max-width: 850px;
    margin: -1150px auto;
    padding: 20px;
    background-color: var(--noir);
    color: var(--white);
    font-family: "Oxygen", Arial, sans-serif;
    transform: translateX(-50px);

  }

  /* Style que j'ai donné a mon h1 dans le container*/
  .container h1 {
    font-size: 2rem;
    margin-bottom: 20px;

  }

  /* Style que j'ai donné a mes paragraphe dans le container*/
  .container p {
    font-size: 1rem;
    line-height: 1.6;
  }

  /* L'animation de l'image de cercle gauche*/
  @keyframes slide-left-circle {

    0%,
    100% {
      transform: translate(80%, -25%);
    }

    50% {
      transform: translate(60%, -25%);
    }
  }

  /* L'animation de l'image de cercle droite*/
  @keyframes slide-right-circle {

    0%,
    100% {
      transform: translate(850%, -25%);
    }

    50% {
      transform: translate(880%, -25%);
    }
  }

  .Lcircle {
    transform: translate(80%, -25%);
    /* Positionnement initial*/
    animation: slide-left-circle 3s ease-in-out infinite;
    /* "paramètre" de l'animation*/
  }

  .Rcircle {
    transform: translate(850%, -25%);
    /* Positionnement initial*/
    animation: slide-right-circle 3s ease-in-out infinite;
    /* "paramètre" de l'animation*/
  }

  /* Style que j'ai donné a mes nav links*/
  .nav-links {
    flex-direction: row;
    /* Pour que le positionnement soit en row*/
    position: absolute;
    top: 70px;
    right: 40px;
    transform: translate(-440%);
    /* Positionnement*/
    width: 250px;
    /* Définit la largeur*/
    padding: 10px 0;
    gap: 50px;
    z-index: 1000;
  }

  video {
    width: 800px;
    /* Largeur du vidéo*/
    transform: translate(60%);
    /* Positionnement initial*/
  }

  /* styles des bouttons*/
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 9999;
  }

  /* styles des buttons lorsqu'on survole*/
  .buttons a:hover {
    background-color: white;
    color: #333;
  }

  /* styles des navlinks */
  .nav-links a {
    text-decoration: none;
    color: var(--white);
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* styles des nav links lorsqu'on survole*/
  .nav-links a:hover {
    background-color: white;
    color: #333;

  }

  /* styles que j'ai donné a mon footer. J'ai mis un display flex , justify-content et un align-items pour que les éléments dans mon footer soit placés en colonne et bien centré*/
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gris-foncer);
    /* Couleur utilisant la variable que j'ai définis au début de mon code*/
    padding: 20px;
    text-align: center;
    color: #ffffff;
    transform: translate(0%, 500%);
    /* Pour le positionnement*/
  }

  /* styles du container j'ai mis dans mon footer*/
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* styles de l'address et contact*/
  .footer-address,
  .footer-contact {
    text-align: center;
  }

  /* styles sur info*/
  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  /* Pour le link*/
  .footer-socials a {
    display: inline-flex;
  }

  /* Ici en utilisant width et height, j'ai définis la taille des icons dans le footer*/
  .footer-socials img {
    width: 24px;
    height: 24px;
  }



}