@font-face {
  font-family: "Oxygen";
  src: url("./assets/polices/Oxygen/Oxygen-Regular.ttf") format("truetype");
}

:root {
  --noir: #000000;
  --gris-foncer: #555555;
  --white: #ffffff;
  --gris-pale: #A2A2A2;
}

* {
  box-sizing: border-box;
}

body {

  background-color: var(--noir);
  font-family: "Oxygen";
  color: var(--white);
  overflow-x: hidden;
}

h1 {
  font-family: "Big_Shoulders";
  transform: translate(15%);
  font-size: 2.7rem;
}

h2 {
  font-family: "Big_Shoulders";
  font-size: 2rem;
  transform: translate(6%, 57%);
}

h3,
h4 {
  transform: translate(4%);
}

p {
  margin: 15px 16px;
  line-height: 1.4;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  transform: translate(15%);
  margin: 10px 0;
  width: 100%;
}



.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 20px;
  background-color: #555555;

}


.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.burger-menu span {
  display: block;
  height: 6px;
  width: 100%;
  background-color: var(--white);
  border-radius: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}





@media (max-width: 768px) {

  @keyframes scale-steps {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  .logo {
    animation: scale-steps 3s infinite ease-in-out;
    display: block;
    position: relative;
    transform-origin: center;
    width: 150px;
    height: auto;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: var(--gris-foncer);
    width: 220px;
    border: 1px solid var(--white);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 0;
    gap: 10px;
    z-index: 1000;
  }

  .image,
  .image2 {
    transform: translate(20%, 5.5%);
  }

  .image3 {
    transform: translate(20%, 5.5%);
    padding-bottom: 50px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 9999;
  }

  .buttons a {
    text-decoration: none;
    color: var(--white);
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 300px;
    width: 90%;
    transform: translate(-9%);
  }

  .buttons a:hover {
    background-color: white;
    color: #333;
  }


  .buttons2 a {
    text-decoration: none;
    color: var(--white);
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 300px;
    width: 90%;
    transform: translate(20%);
  }

  .buttons2 a:hover {
    background-color: white;
    color: #333;
  }

  .buttons3 a {
    text-decoration: none;
    color: var(--white);
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 300px;
    width: 90%;
    transform: translate(20%);
  }

  .buttons3 a:hover {
    background-color: white;
    color: #333;
  }

  .buttons4 a {
    text-decoration: none;
    color: var(--white);
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 300px;
    width: 90%;
    transform: translate(20%);
  }

  .buttons4 a:hover {
    background-color: white;
    color: #333;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--white);
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .nav-links a:hover {
    background-color: white;
    color: #333;
  }

  .Lcircle {
    display: none;
  }

  .Rcircle {
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .burger-menu {
    display: flex;
  }

  video {
    display: none;
  }


  .header {
    color: var(--gris-foncer);
    font-family: "Oxygen", Arial, sans-serif;

  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gris-foncer);
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-address,
  .footer-contact {
    text-align: center;
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .footer-socials a {
    display: inline-flex;
  }

  .footer-socials img {
    width: 24px;
    height: 24px;
  }


}

@media (min-width: 769px) {
  
  .burger-menu {
    display: none;
  }

  @keyframes scale-steps {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  .logo {
    animation: scale-steps 3s infinite ease-in-out;
    display: block;
    position: relative;
    transform-origin: center;
    width: 150px;
    height: auto;
  }



  .container {
    max-width: 850px;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--noir);
    color: var(--white);
    font-family: "Oxygen";
    position: relative;
    height: auto;

  }

  .text1 {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 40px;
    text-align: justify;
    transform: translate(-15%, -1970%);
  }

  .title1 {
    transform: translate(-13%, -3070%);
  }

  .title2 {
    transform: translate(-13%, -3670%);
  }

  .title3 {
    transform: translate(-13%, -6200%);
  }
   .title4 {
    transform: translate(-12.5%, -3600%);
  }
  .title5 {
    transform: translate(-12.5%, -6100%);
  }
    .title6 {
    transform: translate(-12.5%, -4310%);
  }
    .title7 {
    transform: translate(-12.5%, -7240%);
  }
.nom4{
      transform: translate(-13%, -7600%);
}
.nom5{
      transform: translate(-12.5%, -7500%);
}
.nom6{
      transform: translate(-12.5%, -4450%);
}
  .text2 {
    font-size: 1rem;
    line-height: 1.8;
    padding-right: 100px;
    margin-bottom: 40px;
    text-align: justify;
    transform: translate(-15.5%, -1200%);
  }
  .text3 {
    font-size: 1rem;
    line-height: 1.8;
    padding-right: 130px;
    margin-bottom: 40px;
    text-align: justify;
    transform: translate(-15%, -1190%);
  
  }
    .text4 {
    font-size: 1rem;
    line-height: 1.8;
    padding-right: 130px;
    margin-bottom: 40px;
    text-align: justify;
    transform: translate(-15%, -1410%);
  
  }
  .image {
    transform: translate(67%, -400%);
  }

  .image2 {
    transform: translate(68%, -660%);
 
  }

  .image3 {
    transform: translate(69.7%, -680%);
  }

  .Lcircle {
    transform: translate(80%, 10%);
    transform: translate(80%, -25%);
    animation: slide-left-circle 3s ease-in-out infinite;

  }

  .Rcircle {
    transform: translate(850%, 10%);
    transform: translate(850%, -25%);
    animation: slide-right-circle 3s ease-in-out infinite;
  }

  @keyframes slide-left-circle {

    0%,
    100% {
      transform: translate(80%, -25%);
    }

    50% {
      transform: translate(60%, -25%);
    }
  }

  @keyframes slide-right-circle {

    0%,
    100% {
      transform: translate(850%, -25%);
    }

    50% {
      transform: translate(880%, -25%);
    }
  }

  .nav-links {
    flex-direction: row;
    position: absolute;
    top: 70px;
    right: 40px;
    transform: translate(-440%);
    width: 250px;
    padding: 10px 0;
    gap: 50px;
    z-index: 1000;
  }

  video {
    width: 800px;
    transform: translate(60%);
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 9999;
    transform: translate(-43%, -1900%);
  }

  .buttons a:hover {
    background-color: white;
    color: #333;
  }

  .buttons a {
    text-decoration: none;
    color: var(--white);
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 300px;
    width: 90%;
  }

  .buttons2 a {
    text-decoration: none;
    color: var(--white);
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 300px;
    width: 90%;
    transform: translate(-32.5%, -2300%);
  }

  .buttons2 a:hover {
    background-color: white;
    color: #333;
  }

  .buttons3 a {
    text-decoration: none;
    color: var(--white);
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 300px;
    width: 90%;
    transform: translate(-32.5%, -2300%);
  }

  .buttons3 a:hover {
    background-color: white;
    color: #333;
  }

  .buttons4 a {
    text-decoration: none;
    color: var(--white);
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 300px;
    width: 90%;
    transform: translate(-32.5%, -2700%);
  }

  .buttons4 a:hover {
    background-color: white;
    color: #333;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--white);
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .nav-links a:hover {
    background-color: white;
    color: #333;
  }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--gris-foncer);
  padding: 20px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translate(0%,750%);

}

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-address,
  .footer-contact {
    text-align: center;
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .footer-socials a {
    display: inline-flex;
  }

  .footer-socials img {
    width: 24px;
    height: 24px;
  }
}