
* {
  box-sizing: border-box;
}

body {
  background-color: var(--noir);
  font-family: "Oxygen", Arial, sans-serif;
  color: var(--white);
  overflow-x: hidden;
}

h1 {
  font-family: "Big_Shoulders", sans-serif;
  transform: translate(15%);
  font-size: 2.7rem;
}

h2 {
  font-family: "Big_Shoulders", sans-serif;
  font-size: 2rem;
  transform: translate(3%, 57%);
}

p {
  margin: 15px 16px; 
  line-height: 1.4; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  transform: translate(15%);
  margin: 10px 0;
  width: 100%;
}

.buttons a {
  text-decoration: none;
  color: var(--white);
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 300px;
  width: 90%;
}


.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 20px;
  background-color: #555555;

}


.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.burger-menu span {
  display: block;
  height: 6px;
  width: 100%;
  background-color: var(--white);
  border-radius: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}







  .image, .image2, .image3{
    transform: translate(20%,10%);
  }

 

  .buttons a:hover {
    background-color: white;
    color: #333;
  }




  .nav-links a:hover {
    background-color: white;
    color: #333;
  }

  .Lcircle {
    display: none;
  }

  .Rcircle {
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .burger-menu {
    display: flex;
  }

  video {
    display: none;
  }


  .header {
    color: var(--gris-foncer);
    font-family: "Oxygen", Arial, sans-serif;

  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gris-foncer);
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-address {

    transform: translate(-50%);
  }

  .footer-contact {
    transform: translate(40%, -50%);
  }

  .footer-socials {
    transform: translate(50%);
  }





  @media (min-width: 769px) {
    .burger-menu {
      display: none;
    }
  
    .container {
      max-width: 850px;
      margin: -1150px auto;
      padding: 20px;
      background-color: var(--noir);
      color: var(--white);
      font-family: "Oxygen", Arial, sans-serif;
      transform: translateX(-50px);
    }
  
    .container h1 {
      font-size: 2rem;
      margin-bottom: 20px;
  
    }
  
    .container p {
      font-size: 1rem;
      line-height: 1.6;
    }
  
    .Lcircle {
      transform: translate(80%, -25%);
    }
  
    .Rcircle {
      transform: translate(850%, -25%);
    }
  
    .nav-links {
  
      flex-direction: row;
      position: absolute;
      top: 70px;
      right: 40px;
      transform: translate(-440%);
      width: 250px;
      padding: 10px 0;
      gap: 50px;
      z-index: 1000;
    }
  
    video {
      width: 800px;
      transform: translate(60%);
    }
  
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      position: relative;
      z-index: 9999;
    }
  
    .buttons a:hover {
      background-color: white;
      color: #333;
    }
  
    .nav-links a {
      text-decoration: none;
      color: var(--white);
      padding: 10px 15px;
      border: 1px solid white;
      border-radius: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  
    .nav-links a:hover {
      background-color: white;
      color: #333;
    }
  
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--gris-foncer);
      padding: 20px;
      text-align: center;
      color: #ffffff;
      transform: translate(0%, 700%);
    }
  
  
  
  }